<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Readit</title>
    <link rel="stylesheet" href="app.component.css">
  </head>
  <body>
    <header>
      <button id="show-modal" (click)="onAdd()">+</button>
      <input type="text" id="search" placeholder="Search" onclick="onSearch()">
    </header>

    <main>
      <p id="no-items">No items</p>
      <div id="items"></div>
    </main>

    <div id="modal">
      <input type="text" id="url" autofocus placeholder="Enter URL" (keydown.enter)="onKeyPress($event)">
      <button id="add-item" (click)="onAddURL()">Add Item</button>
      <button id="close-modal" (click)="onClose()">Cancel</button>
    </div>
    <script>
      require('./app.js')
      require('./menu.js')
    </script>
  </body>
</html>
